@use '../typography.scss';
@use '../responsive.scss';

#basket.work {
  position: relative;
  display: block;
  .work-image {
    width: 320px;
    position: relative;
    top: 30px;
    left: 8%;
  }
  .work-desc {
    width: 320px;
    align-self: center;
  }
  @include responsive.responsive(responsive.$big-break) {
    .work-desc {
      width: 400px;
    }
  }
  @include responsive.responsive(responsive.$small-break) {
    .work-desc {
      width: 360px;
    }
  }
}