@use '../typography.scss';
@use '../responsive.scss';

.text-container {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .text-content {
    width: 80%;
    blockquote {
      margin-top: 20px;
      padding-left: 30px;
    }
  }
}
