@use '../typography.scss';
@use '../responsive.scss';

.text-container {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .text-content {
    width: 100%;
    max-width: 1000px;
    font-size: typography.$baseSize;
    blockquote {
      margin-top: 20px;
      padding: 0 60px;
      text-align: justify;
    }
  }
}
#credits {
  font-size: typography.$baseSize * 0.88;
  margin-top: 120px;
  margin-bottom: 20px !important;
  .text-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .text-content {
    width: 100%;
    max-width: 800px;
    align-self: flex-end;
  }
  .logo {
    width: 25%;
    padding: 20px;
  }
}
@include responsive.responsive(responsive.$small-break) {
  blockquote {
    padding: 0 40px !important;
  }
}