@use '../typography.scss';
@use '../responsive.scss';

#mindset.work {
  position: relative;
  display: block;
  .work-image {
    width: 600px;
    position: relative;
    top: 10px;
    left: 12%;
  }
  @include responsive.responsive(responsive.$big-break) {
    .work-desc {
      width: 400px;
    }
  }
  @include responsive.responsive(responsive.$small-break) {
    .work-desc {
      width: 360px;
    }
  }
}