@use '../typography.scss';
@use '../responsive.scss';

#mindset-work-container .sticky-element, 
#basket-work-container .sticky-element, 
#lovesong-work-container .sticky-element, 
#shawl-work-container .sticky-element {
  opacity: 1 !important;
}

.work {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .work-image {
    position: relative;
    top: 0; left: 0;
    max-width: 480px;
    width: 90vw;
    align-self: center;
  }
  .work-desc {
    max-width: 400px;
  }
}

.video-work {
  .work-element {
    flex-direction: column;
    height: fit-content;
    max-height: none;
  }
}
$columnCount: 3;
$columnWidth: 200px;
$columnGap: 1rem;
.work-desc {
  margin-top: 60px;
  padding: 120px 10px;
  align-self: center;
  text-align: center;
  font-size: typography.$baseSize * 0.7;
  .work-title {
    font-size: typography.$h5;
    margin-bottom: 120px;
    text-align: center;
    line-height: 1.2;
  }
  .full-desc {
    font-size: typography.$baseSize * 0.8;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 60px;
    // columns: $columnCount $columnWidth;
    // -webkit-columns: $columnCount $columnWidth;
    // -moz-columns: $columnCount $columnWidth;
    // column-gap: $columnGap;
    // -webkit-column-gap: $columnGap;
    // -moz-column-gap: $columnGap;
  }
  .work-info {
    z-index: 6;
    margin-top: 40px;
    text-align: justify;
    text-align-last: center;
    font-size: typography.$baseSize * 0.6;
    p {
      font-size: 0.8rem;
    }
  }
}
@include responsive.responsive(responsive.$big-break) {
  .work {
    padding-top: 40px;
  }
  .work-image {
    width: 280px !important;
    margin: 0 auto;
  }
  .work-title {
    font-size: typography.$h6 * 0.7 !important;
    margin-top: 0;
    margin-bottom: 20px !important;
  }
  .work-desc {
    margin: 20px auto 0 auto;
    padding: 10px;
    p {
      font-size: typography.$baseSize * 0.7 !important;
      margin-bottom: 0.55rem;
    }
  }
  .full-desc {
    margin-bottom: 0 !important;
  }
  .work-info {
    margin-top: 20px !important;
  }
}
@include responsive.responsive(responsive.$small-break) {
  .work {
    padding-top: 40px;
  }
  .work-image {
    width: 180px !important;
    margin: 0 auto;
  }
  .work-title {
    font-size: typography.$h6 * 0.5 !important;
    margin: 10px auto !important;
  }
  .work-desc {
    margin: 0 auto;
    padding-top: 10px;
    p {
      font-size: 0.55rem !important;
      margin-bottom: 0.55rem;
    }
  }
  .full-desc {
    margin-bottom: 0 !important;
  }
  .work-info {
    margin-top: 20px !important;
    font-size: 0.55rem !important;
  }
}
