@keyframes background-shift {
    from { background-color: #611C15; }
    10% { background-color: #712917; }
    20% { background-color: #4E0A04; }
    30% { background-color: #3A0C03; }
    40% { background-color: #2D0C0C; }
    50% { background-color: #611C15; }
    60% { background-color: #2D0C0C; }
    70% { background-color: #3A0C03; }
    80% { background-color: #4E0A04; }
    90% { background-color: #712917; }
    to { background-color: #611C15; }
}

html {
  background-color: #611C15;
  animation-name: background-shift;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}