@use "./responsive.scss";
@use "./typography.scss";

body {
  overflow-x: hidden;
}
/* contains whole webpage */
.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  /* section within webpage */
  .section {
    display: flex;
    position: relative;
    margin-bottom: 60px;
    padding: 0 40px;
    min-height: 100vh;
  }
}
.work, .curatorial-text {
  width: 100%;
  margin: 0 auto;
}
.sticky-bounding-box {
  // background-color: rgba(255,255,255,0.2);
  height: 1800px;
}
.sticky-element {
  // border: 1px solid rgba(255,180,189,0.8);
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}
@include responsive.responsive(responsive.$small-break) {
  .section {
    padding: 0 5px !important;
  }
}
a:link, a:active, a:visited, a:hover {
  color: typography.$baseColor;
}
a:hover {
  cursor: pointer;
}