@use "./responsive.scss";
@use "./typography.scss";

/* contains whole webpage */
.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* section within webpage */
  .section {
    display: flex;
    position: relative;
    margin-bottom: 60px;
    padding: 0 40px;
    height: 800px;
    /* positional block within section */
    div > div {
      position: relative;
      height: fit-content;
    }
  }
}

.work {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  padding: 0;
}
.work-title {
  line-height: 0.8;
  margin-bottom: 20px;
}
.work-desc {
  z-index: 6;
  padding: 10px;
  p {
    font-size: 0.8rem;
  }
}
@include responsive.responsive(responsive.$big-break) {
  .work {
    justify-content: flex-start;
  }
  .work-title {
    font-size: typography.$h6 * 0.8;
    margin-top: 10px;
  }
  .work-desc {
    p {
      font-size: typography.$baseSize * 0.6;
      margin-bottom: 0.6rem;
    }
  }
}
@include responsive.responsive(responsive.$small-break) {
  .work-title {
    font-size: typography.$h6 * 0.6;
    margin-top: 0;
  }
  .work-desc {
    p {
      font-size: typography.$baseSize * 0.55;
      margin-bottom: 0.55rem;
    }
  }
}
