@use "./responsive.scss";
@use "./typography.scss";

/* contains whole webpage */
.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* section within webpage */
  .section {
    display: flex;
    position: relative;
    margin-bottom: 60px;
    padding: 0 40px;
    min-height: 100vh;
  }
}
.work, .curatorial-text {
  width: 100%;
  margin: 0 auto;
}
.sticky-bounding-box {
  // background-color: rgba(255,255,255,0.2);
  height: 300vh;
}
.sticky-element {
  // border: 1px solid rgba(255,180,189,0.8);
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}
