@use './_reset.css';
@use './typography.scss';
@use './_animations.scss';
@use './responsive.scss';

@use './_global.scss';
@use './sections/_landing.scss';
@use './sections/_mindset.scss';

.section-text {
  column-width: 20rem;
  column-gap: 30px;
  column-rule-width: 2px;
  column-rule-style: solid;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}