@use './responsive.scss';

@font-face {
  font-family: 'Happy Times at the IKOB';
  src: url('../fonts/happy-times-NG_regular_master_web.woff') format('woff'),
       url('../fonts/happy-times-NG_regular_master_web.woff2') format('woff2');
}

@font-face {
  font-family: 'Happy Times at the IKOB';
  src: url('../fonts/happy-times-NG_bold_master_web.woff') format('woff'),
       url('../fonts/happy-times-NG_bold_master_web.woff2') format('woff2');
  font-style: bold;
  font-weight: 800;
}

@font-face {
  font-family: 'Happy Times at the IKOB';
  src: url('../fonts/happy-times-NG_italic_master_web.woff') format('woff'),
       url('../fonts/happy-times-NG_italic_master_web.woff2') format('woff2');
  font-style: italic;
}

$baseSize: 1rem;
$baseColor: #85816A;
$h1: 4 * $baseSize;
$h2: 3.5 * $baseSize;
$h3: 3 * $baseSize;
$h4: 2.5 * $baseSize;
$h5: 2 * $baseSize;
$h6: 1.5 * $baseSize;

@include responsive.responsive(responsive.$small-break) {
  p, blockquote {
    font-size: $baseSize * 0.6;
  }
}

html, body {
  font-family: 'Happy Times at the IKOB', Times New Roman, serif;
  color: $baseColor;
  font-size: 1.2 * $baseSize;
  line-height: 1.4;
}
em {
  font-style: italic;
}
p {
  margin-bottom: 1rem;
}
strong {
  font-weight: 800;
}
h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}
.small-caps {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}
.dotted-line {
  text-decoration: dotted underline 1px;
}